@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --white: #fff;
  --dark: #1b1c1e;
  --dark-secondary: #3b3c3e;
  --light: #5b5c5e;
  --primary-bg: #6b3c9b;
  --primary-hover-bg: #844dba;
  --primary-active-bg: #5b2f87;
  --secondary-border: #bcbcbd;
  --secondary-hover-bg: #e7e7e7;
  --secondary-active-bg: #bdbdbd;
  --input-default-bg: #eeeff0;
  --input-hover-bg: #dcdee0;
  --cancel-color: #0f75b8;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  font-size: 16px;
  color: var(--dark);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
